body {
background-image: url("http://i.imgur.com/bBo5NV2.jpg");
background-repeat: no-repeat;
background-size: 25%;
margin: 0 auto;
	}
h4 {text-decoration:underline;
}
h1 {text-align: center;
}
p{ display: block;
font-style: italic;
font-family: ;
margin: 0 auto;
line-height: 1.5em
}
 a {
      color: white;
    }
#slogan {font-family: 'Coda', cursive;
  font-style: italic;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}
#normal {font-style: normal;
  text-align: center;
  margin: 0 auto;
}
#normal0 {font-style: normal;
	text-align: center;
  margin: 0 auto;
}
  img {
      margin: 0 auto;
      border: 5px solid black;
      border-radius: 50px;
      }
    ul {
      padding: 20px;
      background: rgba(0,0,0,0.5);
      text-align: center;
    }
 li { padding: 76px;
      display: inline;
      text-align: center;
}
 .center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

